@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Kalam&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; //adds the padding in there, total box
}

body{
    background-color: $backGroundColor;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    
}

.contentPage{
    box-shadow: $shadow; 
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $pageColor;
}

.header{
    padding-top: 20px;
    background-color: $pageColor;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.container{
    padding-bottom: 20px;
    background-color: $pageColor;
}


.title{
    grid-area:titleSpace;
}

.project{
    grid-area:proj;
}

.about{
    grid-area: aboutMe;
}

.logo{
    grid-area: logoImg;
}

.name{
    grid-area: myName;
}

.calc{
    grid-area: calcBy;
}

.engr{
    grid-area: engineer;
}

.drawing{
    grid-area: drawingBy;
}

.graphic{
    grid-area: graphicDesign;
}

.design{
    grid-area: designBy;
}

.contact{
    grid-area: contactMe;
}

.block{
    display: grid;
    border: 2px $text_3 solid;
    align-content: stretch;
    grid-template-columns: 4fr 2fr 3fr 1.5fr;
    grid-template-rows: auto;
    grid-template-areas:
        "titleSpace proj aboutMe logoImg"
        "myName calcBy engineer logoImg"
        "myName drawingBy graphicDesign logoImg"
        "myName designBy contactMe logoImg";
}

.titleBlock{
    color: $text_3;
    font-size: 24px;
    font-family: 'Courier Prime';
    border: 1px $text_3 solid;
    padding-left: 15px;
    padding-top: 5px;
    display: flex;
    justify-content: flex-start;
}

.writing{
    color: $text_1;
    font-size: 24px;
    font-family: 'Kalam';
    padding-right: 15px;
    border: 1px $text_3 solid;
    display: flex;
    justify-content: flex-end;
}

.writingName{
    color: $text_1;
    font-size: 48px;
    font-family: 'Kalam';
    padding: 20px;
    border: 1px $text_3 solid;
    display: flex;
    justify-content: center;
}

.page{
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, $text_3 1px, transparent 1px), linear-gradient(to bottom, $text_3 1px, transparent 1px);
    border: 2px $text_3 solid;
    display: grid;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 75px;
    grid-template-areas:
        "img_1 introText"
        "descript_1 descript_1"
        "descript_2 descript_2"
        "descript_3 descript_3"
}

.profilePic{
    grid-area: img_1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow; 
    position: relative;
    left:80px; 
    
}

.stickyNote{
    grid-area: introText;
    align-self:center;
    background: radial-gradient(circle, rgba(251,227,86,1) 0%, rgba(224,211,58,1) 100%);
    width: 450px;
    height: 450px;
    color: $text_1;
    font-size: 36px;
    font-family: 'Kalam';
    text-align: center;
    padding: 30px;
    box-shadow: $shadow; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    transform: rotate(-7deg);

}

li{
    text-align: left;
    margin-left: 2.5rem;
}

#sticky{
    font-size: 30px;
    padding-top: 15px;
}

        
.arrow-pointer {
    width: 400px;
    height: 75px;
    background: $text_2;
    position: relative;
    right:40px; 
    top:20px;
    color: $text_1;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Kalam';
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17.5px;
    box-shadow: $shadow; 
  
    &:before {
      content: '';
      position: absolute;
      right: -37.5px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 37.5px solid $text_2;
      border-top: 37.5px solid transparent;
      border-bottom: 37.5px solid transparent;
    }
  }
      

.textBox{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 300;
    background-color: white;
    padding: 50px;
    box-shadow: $shadow; 
}

.textTitle{
    text-decoration: underline;
    font-size: 24px;
}

.box1{
    grid-area: descript_1;
}

.box2{
    grid-area: descript_2;
}

.box3{
    grid-area: descript_3;
}


.bottomText{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    background-color: $text_2;
    box-shadow: $shadow; 
    color: $text_1;
    padding: 15px 100px 15px 100px;
    width: 400px;
    text-align: center;
    border:none;
    border-radius: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Kalam';
    transition: background-color ease 1s;
    cursor: pointer;
    margin-bottom: 25px;
    align-self: center;
}

.contactInfo{
    align-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $text_1;
    margin-bottom: 10px;
}