@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Kalam&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; //adds the padding in there, total box
}

@mixin device($breakpoint){
    @media only screen and(max-width:$breakpoint){
        @content
    }
}

body{
    background-color: $backGroundColor;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none!important;
    font: inherit;
    color: inherit;
  }

.contentPage{
    box-shadow: $shadow; 
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $pageColor;

    @include device($breakPoint){
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 25px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.header{
    padding-top: 20px;
    background-color: $pageColor;
    position: sticky;
    top: 0px;
    z-index: 2;

    @include device($breakPoint){
        padding-top: 5px;
    }
}

.container{
    padding-bottom: 20px;
    background-color: $pageColor;

    @include device($breakPoint){
        padding-bottom: 10px;
    }
}

.title{
    grid-area:titleSpace;
}

.project{
    grid-area:proj;
}

.about{
    grid-area: aboutMe;
}

.logo{
    grid-area: logoImg;

    @include device($breakPoint){
        cursor: pointer;
    }
}

.name{
    grid-area: myName;
}

.calc{
    grid-area: calcBy;
}

.engr{
    grid-area: engineer;
}

.drawing{
    grid-area: drawingBy;
}

.graphic{
    grid-area: graphicDesign;
}

.design{
    grid-area: designBy;
}

.contact{
    grid-area: contactMe;
}

.block{
    display: grid;
    border: 2px $text_3 solid;
    align-content: stretch;
    grid-template-columns: 4fr 2fr 3fr 1.5fr;
    grid-template-rows: auto;
    grid-template-areas:
        "titleSpace proj aboutMe logoImg"
        "myName calcBy engineer logoImg"
        "myName drawingBy graphicDesign logoImg"
        "myName designBy contactMe logoImg";

        @include device($breakPoint){
            grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
            grid-template-areas:
                "titleSpace titleSpace titleSpace titleSpace logoImg logoImg"
                "myName myName myName myName logoImg logoImg"
                "myName myName myName myName logoImg logoImg"
                "proj proj aboutMe aboutMe aboutMe aboutMe"
                "calcBy calcBy engineer engineer engineer engineer"
                "drawingBy drawingBy graphicDesign graphicDesign graphicDesign graphicDesign"
                "designBy designBy contactMe contactMe contactMe contactMe";
        }    
}

.titleBlock{
    color: $text_3;
    font-size: 24px;
    font-family: 'Courier Prime';
    border: 1px $text_3 solid;
    padding-left: 15px;
    padding-top: 5px;
    display: flex;
    justify-content: flex-start;

    &__logo{
        justify-content: center;
    }

    @include device($breakPoint){
        font-size: 12px;
        padding-left: 10px;
        padding-top: 5px;

        &__logo{
            padding: 2.5px;
        }
    } 
}

.writing{
    color: $text_1;
    font-size: 24px;
    font-family: 'Kalam';
    padding-right: 15px;
    border: 1px $text_3 solid;
    display: flex;
    justify-content: flex-end;

    &__name{
        font-size: 48px;
        padding: 20px;
        justify-content: center;

        @include device($breakPoint){
            font-size: 24px;
            padding: 5px;
        } 
    }

    @include device($breakPoint){
        font-size: 15px;
        padding-right: 10px;
    } 
}

.writing:hover, .writing:focus{
    color: $text_2;  

    &__name{
        color: $text_1;
    }
}

.logoPhoto{
    width: 100%;

    @include device($breakPoint){
        width: 60%;
    } 
}

.page{
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, $text_3 1px, transparent 1px), linear-gradient(to bottom, $text_3 1px, transparent 1px);
    border: 2px $text_3 solid;
    border-top: none;
    display: grid;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 75px;
    display: flex;
    flex-wrap: wrap;
    grid-template-areas:
        "img_1 introText"
        "descript_1 descript_1"
        "descript_2 descript_2"
        "descript_3 descript_3";

    @include device($breakPoint){
        background-size: 20px 20px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        grid-template-columns: 1fr;
        row-gap: 20px;
        grid-template-areas:
        "img_1" 
        "introText"
        "descript_1"
        "descript_2"
        "descript_3";
    } 

    &__engr{
        grid-template-areas:
        "img_1 introText"
        "descript_1 descript_1"
        "descript_2 descript_2"
        "descript_3 descript_3"
        "resumeText resumeText";

        @include device($breakPoint){
            grid-template-areas:
            "img_1" 
            "introText"
            "descript_1"
            "descript_2"
            "descript_3"
            "resumeText"
        } 
    }

    &__contact{
        display: flex;
        justify-content: center;
        grid-template-areas:
        "introText img_1"
        "form form";

        @include device($breakPoint){
            grid-template-areas:
            "img_1" 
            "introText"
            "form";
        } 

    }
}

.profilePic{
    grid-area: img_1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow; 
    position: relative;
    left:80px;  

    @include device($breakPoint){
        left: unset;
        max-width: 100%;
    } 

    &__position{
        left:unset;
        right: 80px;

        @include device($breakPoint){
            right: unset;  
        } 
    }
}

.stickyNote{
    grid-area: introText;
    align-self:center;
    background: radial-gradient(circle, rgba(251,227,86,1) 0%, rgba(224,211,58,1) 100%);
    width: 450px;
    height: 450px;
    color: $text_1;
    font-size: 36px;
    font-family: 'Kalam';
    text-align: center;
    padding: 30px;
    box-shadow: $shadow; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    transform: rotate(-7deg);

    @include device($breakPoint){
        width: 325px;
        height: 325px;
        padding: 15px;
        font-size: 24px;
        position: relative;
        bottom:15px; 
    } 

    &__contact{
        background: radial-gradient(circle, $text_4 0%, $text_2 100%); 
        transform: rotate(7deg);
        position: relative;
        left:20px; 

        @include device($breakPoint_2){
            left:unset;
            bottom: unset;
        } 
    }

    &__engr{
        transform: rotate(7deg);
        position: relative;
        left:20px; 
        grid-area: resumeText;
        background: radial-gradient(circle, $text_6 0%, $text_3 100%); 
        margin-left: auto;
        margin-right: auto;

        @include device($breakPoint_2){
            left:unset;
            bottom: unset;
        } 
    }

    &__details{
        font-size: 24px; 

        @include device($breakPoint){
            font-size: 18px;
        }
    }
}

li{
    text-align: left;
    margin-left: 2.5rem;
    @include device($breakPoint){
        margin-left: 1.5rem;
        }
}

#sticky{
    font-size: 30px;
    padding-top: 15px;

    @include device($breakPoint){
        font-size: 20px;
        padding-top: 5px;
    }  
}
        
.arrowPointer {
    width: 400px;
    height: 75px;
    background: $text_2;
    position: relative;
    right:40px; 
    top: 20px;
    color: $text_1;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Kalam';
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17.5px;
    box-shadow: $shadow; 

    @include device($breakPoint){
        width: 200px;
        height: 40px;
        right: 20px; 
        top: 10px;
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 12.5px;
    }  
  
    &:before {
      content: '';
      position: absolute;
      right: -37.5px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 37.5px solid $text_2;
      border-top: 37.5px solid transparent;
      border-bottom: 37.5px solid transparent;

      @include device($breakPoint){
        right: -20px;
        border-left: 20px solid $text_2;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        }  
    }

    &__art{
        height: 150px;

        @include device($breakPoint){
            height: 75px;
        }

        &:before{
            right: -75px; 
            border-left: 75px solid $text_2;
            border-top: 75px solid transparent;
            border-bottom: 75px solid transparent;  
            
            @include device($breakPoint){
                right: -37.5px;
                border-left: 37.5px solid $text_2;
                border-top: 37.5px solid transparent;
                border-bottom: 37.5px solid transparent;
                }  
        }
    }

    &__contact{
        background: $text_5;

        &:before{
            border-left: 37.5px solid $text_5; 

            @include device($breakPoint){
                right: -20px;
                border-left: 20px solid $text_5;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                }
        }
    }
  }
 
.textBox{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 300;
    background-color: white;
    padding: 40px 40px 30px 40px;
    box-shadow: $shadow; 
    width: 100%;

    @include device($breakPoint){
        font-size: 14px;
        padding: 15px 25px;
        line-height: 18px;
        }

    &__details{
        display: flex;

        @include device($breakPoint){
            flex-flow: column wrap;
            }
    }
}

.textPhoto{
    margin-bottom: 20px; 

    @include device($breakPoint){
        width: 100%;
        margin-bottom: 10px;
        }    
}

.container1{
    padding: 20px;
    padding-right: 40px;
    line-height: 40px;

    @include device($breakPoint){
        padding: 10px;
        padding-right: 20px;
        line-height: 20px;
        }
}

.container2{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}

.slideshow{
    width: 400px;

    @include device($breakPoint){
        width: 276px;
        height: 182.844px;
        }
}

.lightbox-target {
    position: fixed;
    z-index: 3;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.7);
    width: 100%;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
    }

.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    box-sizing: border-box;
    transition: .5s ease-in-out;
    }

a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    transition: .5s ease-in-out;
    }

a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    transform:rotate(45deg);
    }

a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    transform:rotate(-45deg);
    }
    
        
.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    overflow:scroll;
    }
        
.lightbox-target:target img {
    max-height: 90%;
    max-width: 90%;
    }
        
.lightbox-target:target a.lightbox-close {
    top: 0;
    }   

.textTitle{
    text-decoration: underline;
    font-size: 24px;

    @include device($breakPoint){
        font-size: 14px;
        letter-spacing:0.5px;
        }
}

.box1{
    grid-area: descript_1;
}

.box2{
    grid-area: descript_2;
}

.box3{
    grid-area: descript_3;
}

.bottomText{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactButton{
    background-color: $text_2;
    box-shadow: $shadow; 
    color: $text_1;
    padding: 15px 100px 15px 100px;
    width: 400px;
    text-align: center;
    border:none;
    border-radius: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Kalam';
    transition: background-color ease 1s;
    cursor: pointer;
    margin-bottom: 25px;
    align-self: center;

    @include device($breakPoint){
        transform: scale(.75, .75);
        padding: 10px 100px 10px 100px;
    }

    &__resume{
        padding: 10px 50px 10px 50px;
        margin: 10px;   
        font-size: 24px; 
        background-color: $text_1;
        color: $text_2
    }
    
}

.contactButton:hover, .contactButton:focus{
    color: $text_3;
    background-color: $text_1;
    transform: scale(1.05, 1.05);

    &__resume{
        padding: 10px 50px 10px 50px;
        margin: 10px;   
        font-size: 24px; 
        color: $text_2;
        background-color: $text_3;
    }

    @include device($breakPoint){
        transform: scale(.8, .8);
        }
}

.contactInfo{
    align-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $text_1;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;

    @include device($breakPoint){
        font-size: 14px;
        }
}

#linkedIn{
    cursor: pointer;
}

#email{
    cursor: pointer;
}

.contactMe{
    grid-area: form;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid $text_3; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    background-color: #f2f0eb;
}

input[type=text]:focus {
    background-color: $text_4;
}

textarea {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

textarea:focus {
    background-color: $text_4;
}
  
input[type=submit] {
    background-color: $text_2;
    color: $text_1;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 300;
}

input[type=submit]:hover {
    background-color: $text_1;
    color: $text_3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

#fnameBox, #lnameBox, #emailBox, #pNumBox{
    width: 500px;
    padding-left: 10px;
    padding-right: 10px;

    @include device($breakPoint){
        width: 300px;
        }
}

.contactForm {
    border-radius: 5px;
    background-color: $backGroundColor;
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 300;

    @include device($breakPoint){
        font-size: 16px;
        }
}

.row{
    display:flex;
    gap: 10px;
    justify-content: space-between;
    align-items: baseline;

    @include device($breakPoint){
        display: unset;
        }
}

.question{
    display:flex;
    flex-flow: column wrap;
}
