$backGroundColor: #F2EDDE;
$pageColor: #EEE5C8;

$text_1: #253B73; 
$text_2: #86C4E2;
$text_3: #ACB0B2;
$text_4: #95c8e2;
$text_5: rgba(251,227,86,1);

$breakPoint: 430px;

$shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
